<app-nav-bar></app-nav-bar>

<div class="container home">
 
    <div class="row">
        <div class="col-sm-6 m-auto">
            <div class="card text-bg-light mb-4">
                <div class="card-body">
                    <h6 class="card-title text-center"> <span class="btn btn-secondary">6</span> <span>جملي ديون المنتفع نحو المجمع</span></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 m-auto">
            <div class="card text-bg-light mb-4">
                <div class="card-body">
                    <h6 class="card-title text-center">    <span class="btn btn-secondary">6</span> <span>جملي ديون المجمع نحو المزود</span></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 m-auto">
            <div class="card text-bg-light mb-4" style="max-width: 18rem;">
                <div class="card-body">
                    <h6 class="card-title text-center"><span class="btn btn-secondary">6</span> <span>عدد اعوان التنفيذ</span></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-4  m-auto">
            <div class="card text-bg-light mb-4" style="max-width: 18rem;">
                <div class="card-body">
                    <h6 class="card-title text-center"> <span class="btn btn-secondary">6</span> <span>عدد الجلسات العامة</span></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-4 m-auto">
            <div class="card text-bg-light mb-4" style="max-width: 18rem;">
                <div class="card-body">
                    <h6 class="card-title text-center">   <span class="btn btn-secondary">6</span> <span>عدد المنتفعين</span></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 m-auto">
            <div class="card text-bg-light mb-4">
                <div class="card-body">
                    <h6 class="card-title text-center"><span class="btn btn-secondary">6</span> <span>عدد الفواتير</span></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 m-auto">
            <div class="card text-bg-light mb-4">
                <div class="card-body">
                    <h6 class="card-title text-center"> <span class="btn btn-secondary">6</span> <span>عدد الاعطاب</span></h6>
                </div>
            </div>
        </div>
    </div>
</div>