/* General body styling */
body {
    direction: rtl;
    text-align: right;
    
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.org-info {
    text-align: right;
    margin: 20px 0;
    line-height: 1.6;
}
.title {
    text-align: center;
    color: #414584;
    font-size: 24px;
    margin: 30px 0;
}
.period {
    text-align: center;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: right;
}
th {
    background-color: #f9f9f9;
}
.header-row {
    background-color: #f9f9f9;
    font-weight: bold;
}

/* Button group styling */
/* Button group container for spacing */
.btn-group-container {
    margin-bottom: 15px;
}

/* Button styling (Normal Size) */
.btn {
    background-color: blue;
    color: white;
    padding: 6px 12px; /* Reduced padding */
    font-size: 14px; /* Smaller font */
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: darkblue;
}
/* Search input styling */






/* File download link styling */
a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}