.listeDemand-main{
    margin-top: 8%;
    direction: rtl; 
    text-align: right;
}

@media screen and (max-width: 700px) {
    .listeDemand-main{
        margin-top: 16%
    }
    th,td{
        font-size: 9px;
    }
}