<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="bi bi-person-circle"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark text-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <h5 class="text-center">NESS de L'Economie Sociale et Solidaire</h5>
                <br>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/modele">اللوحة الرئسية  <i class="bi bi-house-door-fill"></i></a>
                    <hr><h6>متابعة الاستهلاك</h6>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/conception">الاستهلاك الشهري<i class="bi bi-bar-chart-line-fill"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/annee">الاستهلاك السنوي<i class="bi bi-bar-chart-line-fill"></i></a>
                    </li>
                    <hr><h6>قائمة الديون</h6>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/doyoun">الديون<i class="bi bi-wallet-fill"></i></a>
                    </li>
                    <hr><h6>مطالب</h6>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/demande">مطالب الترشحات <i class="bi bi-table"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/demen">مطلب للترشح<i class="bi bi-person-circle"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>