.demande-list-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    background-color: #2E8B57;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
  }
  
  .header h2 {
    margin: 0;
    font-size: 26px;
  }
  
  .search-section {
    margin-bottom: 20px;
    display: flex;
    justify-content:center;

  }
  
  .search-section input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  .footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer p {
    font-size: 14px;
    color: #9DC183;
  }
  