<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="#"><i class="bi bi-box-arrow-left"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark text-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <h5 class="text-center">NESS de L'Economie Sociale et Solidaire</h5>
                <br>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/{{type}}">اللوحة الرئسية <i class="bi bi-house-door-fill"></i></a>
                    </li>
                    <hr><h6>الجانب الاداري</h6>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/{{type}}/pompiste">أعوان التنفيذ <i class="bi bi-people-fill"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">اعداد و تنظيم الجلسات العامة <i class="bi bi-list"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/{{type}}/reunionadministratif">مسك دفتر محاضر اجتماعات مجلس الدارة  <i class="bi bi-folder"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/{{type}}/benifique">قائمة المنتفعين <i class="bi bi-list"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/{{type}}/listedemande">دفتر الانخراطات  <i class="bi bi-folder"></i></a>
                    </li>
                    <hr><h6>الجانب المالي</h6>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/{{type}}/dettebenifique">قائمة ديون المنتفعين نحو المجمع <i class="bi bi-list"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/{{type}}/dettegess">قائمة ديون المجمع نحو المزودين <i class="bi bi-list"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">دفتر المحاسبة  <i class="bi bi-folder"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">دفتر متابعة االستهالك والفوترة  <i class="bi bi-folder"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#"> مؤيدات الدخل و الصرف <i class="bi bi-diagram-3-fill"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">متابعة الوضعية الما لية للمجمع <i class="bi bi-bar-chart-line-fill"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">المزانية السنوية <i class="bi bi-wallet-fill"></i></a>
                    </li>
                    <hr><h6>الجانب الفني</h6>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">برنامج الضخ اليومي <i class="bi bi-bar-chart-line-fill"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">الاعطاب <i class="bi bi-exclamation-triangle-fill"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>