<app-nav-bar class="no-print"></app-nav-bar>
<div class="container benifique-main">
    <!--debut imprimer le tableau benifique-->
    <button type="button" class="btn btn-primary float-end no-print" (click)="print()">طباعة</button>
    <!--fin imprimer le tableau benifique-->
    <!--debut table benifique-->
    <table class="table yes-print">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">الاسم و اللقب</th>
            <th scope="col">المساحة</th>
            <th scope="col">رقم القطعة</th>
            <th scope="col">رقم المأخذ</th>
            <th scope="col">رقم العداد</th>
            <th scope="col">الديون</th>
            <th scope="col" class="no-print"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="no-print">
                <a href="#" class="text-primary m-1"><i class="bi bi-eye-fill"></i></a> 
                <a href="#" class="text-success m-1"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="text-danger m-1"><i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--fin table benifique-->
</div>

